# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

AhmiSimulator_v1.1.0/Debug/*
AhmiSimulator_v1.1.0/ahmiSimulator_v0304.sdf
AhmiSimulator_v1.1.0/ahmiSimulator_v0304.v11.suo
AhmiSimulator_v1.1.0/ahmiSimulator_v0304.opensdf
AhmiSimulator_v1.1.0/mfc.aps
AhmiSimulator_v1.1.0/mfc.aps
AhmiSimulator_v1.1.0/*.acf
AhmiSimulator_v1.1.0/Release/*
AhmiSimulator_v1.1.0/*.psess
AhmiSimulator_v1.1.0/*.vsp
AhmiSimulator_v1.1.0/changelog/*
AhmiSimulator_v1.1.0/ipch/*
AhmiSimulator_v1.1.0/testLog/*
AhmiSimulator_v1.1.0/*.hex
AhmiSimulator_v1.1.0/*.bmp